@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 89 67% 99%;
    --foreground: 89 54% 1%;
    --muted: 59 30% 91%;
    --muted-foreground: 59 13% 26%;
    --popover: 89 67% 99%;
    --popover-foreground: 89 54% 1%;
    --card: 89 67% 99%;
    --card-foreground: 89 54% 1%;
    --border: 89 14% 92%;
    --input: 89 14% 92%;
    --primary: 89 55% 73%;
    --primary-foreground: 89 55% 13%;
    --secondary: 59 55% 73%;
    --secondary-foreground: 59 55% 13%;
    --accent: 119 55% 73%;
    --accent-foreground: 119 55% 13%;
    --destructive: 16 84% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 89 55% 73%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 89 48% 2%;
    --foreground: 89 24% 98%;
    --muted: 59 30% 9%;
    --muted-foreground: 59 13% 74%;
    --popover: 89 48% 2%;
    --popover-foreground: 89 24% 98%;
    --card: 89 48% 2%;
    --card-foreground: 89 24% 98%;
    --border: 89 14% 10%;
    --input: 89 14% 10%;
    --primary: 89 55% 73%;
    --primary-foreground: 89 55% 13%;
    --secondary: 59 55% 73%;
    --secondary-foreground: 59 55% 13%;
    --accent: 119 55% 73%;
    --accent-foreground: 119 55% 13%;
    --destructive: 16 84% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 89 55% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
:root {
  --ayah-font-size: 28px; /* Default value */
}

.ayah_text {
  font-size: var(--ayah-font-size, 3.5rem);
}

.translation_text {
  font-size: var(--translation-font-size, 1rem);
}

@font-face {
  font-family: "Mushaf Ligatures";
  src: local("QCF_BSML"),
    url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-v2-woff2/QCF_BSML.woff2)
      format("woff2"),
    url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_BSML.woff)
      format("woff");
}
